body, html {
    height: 100%;
}

.footer {
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 100%;
    min-height: 30px;
    /*margin-top: 30px;*/
    padding: 5px 0;
    background: #000;
    font-size: 12px;
    color: #fff;
}
.footer a {
    color: #fff;
    text-decoration: underline;
}
.footer .footer-text {
    text-align: right;
    margin-right: 50px;
}
.logo {
    float: right;
    margin-right: 5px;
    margin-top: 20px;
    width: 125px;
    color: red;
    /*border: 1px solid red;*/
    padding: 10px 5px;
}
.title {
    margin-top: 40px;
}
@media screen and (max-width: 970px) {
    .title {
        clear: both;
    }
}
.title h1 {
    font-size: 32px;
    font-family: Copperplate, "Helvetica Neue",Helvetica,Arial,sans-serif;;
}
.dark-bg {
    background-color: #000;
    color: #fff;
}

.text-right-upper {
    position: absolute;
    top: 10px;
    right: 40px;
    font-size: 20px;
    color: #fff;
}
.title-block {
    min-height: 120px;
}
.title-block .title {
    margin-top: 60px;
}

#tana-intro-container {
    /*min-height: 600px;*/
    text-indent: 30px;
}
#tana-intro-container h3,
#tana-intro-container h4 {
    font-family: Copperplate, "Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.contact-link-block {
    font-size: 20px;
    height: 300px;
}
.contact-link-block p {
    font-size: 14px;
    color: #fff;
}
.contact-link-block a {
    margin-top: 30px;
    color: #fff;
}
.contact-link-block .avatar-container {
    width: 100%;
    margin: 50px auto 0 auto;
}
.avatar-container img {
    display: block;
    height: 150px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .contact-link-block {
        height: auto;
    }
}
